{%extends 'base.html' %}

{% load static %}
{% block content %}
<style>
img:hover
{
 transform:scale(1.08);
    box-shadow:0px 0px 10px red;
}


</style>
<div class="row" style="min-height:400px;">
    <div class="col-sm-8">
        <div class="row">

            <h3 class="text-warning text-center pt-2">Recent <span class="text-light">Placed</span> Students</h3>
            <h6 class="text-light text-center">Knowledge of Integration College is known for its 100% placements.The
                students which are recently placed<br>
                from KIC..
            </h6>

        </div>
        <div class="col-sm-4 " style="min-height:200px;width:100%;">
            <div class="row p-2" style="min-height:200px;width:100%;">
           {% if placement %}
                {% for x in placement %}
                <div class="col-sm-4">
                    <img src="/{{x.stupic}}" class="d-block w-100" alt=""/>
                    <h6 class="text-light">Student Name:<span class="text-warning"><br>
                            {{x.name}}</span></h6>
                    <h6 class="text-light">Course Name:<span class="text-warning">
                           {{x.pcourse}} </span></h6>
                    <h6 class="text-light">Branch Name<span class="text-warning">
                            {{x.branch}}</span></h6>
                    <h6 class="text-light">Company Name:<span class="text-warning">{{x.cmpname}}</span></h6>
                    <h6 class="text-light">Company City:<span class="text-warning">{{x.city}}</span></h6>
                    <h6 class="text-light">Passout Year:<span class="text-warning">{{x.pyear}}</span></h6>
                    <h6 class="text-light">Designation:<span class="text-warning">{{x.designation}}</span></h6>
                    <h6 class="text-light">Date :<span class="text-warning">{{x.pdate}}</span></h6>
                </div>
                {% endfor %}
                {% endif %}


            </div>
        </div>


    </div>
    <div class="col-sm-4" style="min-height:200px; background:#003a63; padding-top:105px;">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Our Courses</li>
  {% if course %}
            {% for x in course %}

            <a href="/user/placements?msg={{x.id}}" style="text-decoration:none;"><li class="list-group-item">{{x.cname}}</li></a>
            {% endfor %}
            {% endif%}
             <a href="/user/placements/" style="text-decoration:none;"><li class="list-group-item">All Placements</li></a>

        </ul>
    </div>

</div>
</div>

{% endblock %}